<section class="trabajo-section">
  <div class="image-wrapper">
    <img src="assets/Eventos/6.jpg" alt="Trabajo" class="trabajo-img" />
    <div class="overlay-text">
      <h1>Nuestro Trabajo</h1>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="text-content">
      <h2>Gestión y producción de eventos</h2>
      <h3>Tu única preocupación sera disfrutar como un invitado mas</h3>
      <p>
        <strong
          >Para ello sabemos que hay que escuchar al cliente y tener claro los
          objetivos ya sea cual sea el vento</strong
        >
      </p>
      <p>
        de manera conjunta realizar una propuesta para organizar el evento de
        esta manera asegurar cada detalle y realizar asesoramiento sobre el
        equipamiento idóneo para cada situación
        <strong>
          Dejanos las preocupaciones a nosotros,dedicaremos el tiempo necesario
          para plantear el evento.
        </strong>
      </p>
    </div>
    <div class="image-content">
      <img src="assets/iluminacion2.jpg" alt="iluminaciones Maxaudio" />
    </div>
  </div>
</section>

<!-- NUEVA SECCIÓN CON IMAGEN DE FONDO Y TEXTO SUPERPUESTO -->
<section class="background-image-section">
  <div class="overlay-text-2">
    <h2>La seguridad y la funcionalidad por encima de todo</h2>
    <h3>Calidad, Confianza y Profesionalidad</h3>
    <p>
      Maximizamos el impacto de tus eventos con equipos de última generación y
      profesionales capacitados.
    </p>
    <p>
      Nos adaptamos a todo tipo de eventos y situaciones para que tengas el
      evento perfecto
    </p>
    <p>
      Nuestros técnicos te asesorarán sobre la mejor opción en función de tus
      necesidades.
    </p>
    <p>Solicita un presupuesto sin compromiso</p>
  </div>
</section>

<!-- Sección de Otras Empresas -->
<section class="service-section">
  <h2>Nuestras Marcas</h2>
  <p>También nos puedes encontrar como:</p>

  <div class="service-cards">
    <div class="service-card">
      <img src="assets/OtrasMarcas/1Marcha.png" alt="Calle La Marcha" />
      <h3>Calle de la Marcha</h3>
      <p>
        Festival de música dedicado a recordar las canciones de los años 80/90s
      </p>
    </div>

    <div class="service-card">
      <img src="assets/OtrasMarcas/2.Ilumina.png" alt="Ilumina" />
      <h3>Ilumina Eventos</h3>
      <p>
        Nos dedicamos a la iluminación de cualquier evento que te plantees, ya
        sea un evento coorporativo,iluminación de locales, bodas...
      </p>
    </div>

    <div class="service-card">
      <img src="assets/OtrasMarcas/4.JPG" alt="SummerMax" />
      <h3>Festival SummerMax</h3>
      <p>
        Festival de música con los artistas del momento que te encantan, ya
        contamos con varias ediciones realizadas en las cuales conciertos de
        artistas como Lírico en la Casa y Recycled J entre muchos otros
      </p>
    </div>

    <div class="service-card">
      <img
        class="vertical"
        src="assets/OtrasMarcas/5People.jpg"
        alt="People Party"
      />
      <h3>People Party</h3>
      <p>
        Este es el evento ideal para fiestas, cuenta con bailarines, Robot
        iluminado, y pantalla Led esos son los mejores ingredientes para que
        tengas el mejor evento que se pueda organizar
      </p>
    </div>
  </div>
</section>

<section class="galery-section">
  <h2>Algunos de nuestros Eventos</h2>
  <div class="galery-cards">
    <div class="galery-card">
      <img src="assets/Escenario/9.JPG" alt="Ilumina" />
    </div>

    <div class="galery-card">
      <img src="assets/Escenario/7.JPG" alt="SummerMax" />
    </div>

    <div class="galery-card">
      <img
        src="assets/Escenario/2CamionSumerMax.JPG"
        alt="People Party"
      />
    </div>

    <div class="galery-card">
      <img
        src="assets/Eventos/1Camion.jpg"
        alt="People Party"
      />
    </div>

    <div class="galery-card">
      <img
        src="assets/Eventos/2.jpg"
        alt="People Party"
      />
    </div>

    <div class="galery-card">
      <img
        src="assets/Eventos/10.JPG"
        alt="People Party"
      />
    </div>

  </div>
</section>

<!-- Nueva sección de videos -->
<section class="video-section">
  <h2>Eventos en Acción</h2>
  <div class="video-cards">
    <div class="video-card">
      <video controls>
        <source src="assets/Galeria/3Escenario.MOV" type="video/mp4" />
        Tu navegador no soporta el formato de video.
      </video>
      <h3>Iluminación de Escenario</h3>
    </div>

    <div class="video-card">
      <video width="800%" height="200" controls poster="assets/OtrasMarcas/4.JPG">
        <source src="assets/Galeria/5Video.mp4" type="video/mp4" />
        Tu navegador no soporta el formato de video.
      </video>
      <h3>Festival de SummerMax</h3>
    </div>
  </div>
</section>