<footer class="footer">  
    <div class="footer-sections">
      <div class="footer-column">
        <h3 style="text-align: center;">Áreas</h3>
        <ul style="text-align: center;">
          <li><button class="link-button" (click)="goToPage('sonido')">Eventos Corporativos</button></li>
          <li><button class="link-button" (click)="goToPage('sonido')">Giras</button></li>
          <li><button class="link-button" (click)="goToPage('eventos')">Festivales</button></li>
          <li><button class="link-button" (click)="goToPage('eventos')">Camión Escenario</button></li>
          <li><button class="link-button" (click)="goToPage('sonido')">Iluminaciones</button></li>
          <li><button class="link-button" (click)="goToPage('bodas')">Bodas</button> </li>
          <li><button class="link-button" (click)="goToPage('navidad')">Cabalgatas</button></li>
        </ul>
      </div>

      <div class="footer-logo">
        <div class="logo">
          <img src="assets/logoSinFondo.png" alt="Maxaudio Logo">
        </div>
    </div>


      <div class="footer-column">
        <h3 style="text-align: center;">Contacto</h3>
        <ul style="text-align: center;">
          <li>Navalmoral de la Mata</li>
          <li>Ctra.Jarandilla 10300</li>
          <li>Teléfono: 927 53 58 90</li>
          <li>Móvil: 605 24 23 85</li>
          <li>maxaudio&#64;hotmail.com</li>
          <li>Lu-Vi de 9h a 20h</li>
        </ul>
      </div>
    </div>
  </footer>
  