
<section class="sonido-section">
  <div class="image-wrapper">
  <img src="../../assets/contacto.jpg" alt="Contacto" class="contact-img" />
  <div class="overlay-text">
    <h1>Eventos Maxaudio</h1>
  </div>
</div>
<!-- Sección de Equipos de Sonido en extremadura -->
<section class="conocenos-section">
  <div class="content-wrapper">
    <div class="image-content">
      <img
        src="assets/equipoMaxaudio.jpg"
        alt="Equipo Maxaudio a su servicio"
      />
    </div>
    <div class="text-content">
      <h2>Maxaudio: quienes somos</h2>
      <h3>
        Profesionales de la organización, iluminación y sonorización de eventos
      </h3>
      <p>
        <strong
          >Cuando un cliente nos encarga la organización de su evento, deja en
          nuestras manos una gran responsabilidad.</strong
        >
      </p>
      <p>
        Porque es un día único, que no se puede repetir y en el que tanto
        empresas como particulares depositan mucho esfuerzo, tanto económico
        como emocional, para conseguir emocionar a sus invitados. Y eso es algo
        que nos tomamos muy en serio <strong> Todo debe salir perfecto.</strong>
      </p>
      <p>
        Nuestra vocación por el trato humano con los clientes; nuestra capacidad
        para comprender sus necesidades y preocupaciones, además de la
        flexibilidad y recursos suficientes para poder adaptarnos a sus
        presupuestos
      </p>
      <p>
        Tu tranquilidad y éxito son nuestra prioridad. Confía en expertos que
        entienden tus necesidades.
        <strong>¿Listo para hacer de tu evento un éxito rotundo?</strong>
        Contáctanos ahora para solicitar un presupuesto sin compromiso.
      </p>
      <p>
        <strong>
          Y esa es la clave por la que nos hemos mantenido en el mercado durante
          los últimos 10 años y por lo que seguiremos los próximos: dar el mejor
          servicio posible, a un precio razonable y volcándonos al 100% en
          nuestros clientes y sus proyectos.
        </strong>
      </p>
    </div>
  </div>
</section>

<!-- Sección de Equipos de Sonido en extremadura -->
<section class="conocenos-section">
  <div class="content-wrapper">
    <div class="text-content">
      <h2>Maxaudio: quienes somos</h2>
      <h3>
        Profesionales de la organización, iluminación y sonorización de eventos
      </h3>
      <p>
        <strong
          >Cuando un cliente nos encarga la organización de su evento, deja en
          nuestras manos una gran responsabilidad.</strong
        >
      </p>
      <p>
        Porque es un día único, que no se puede repetir y en el que tanto
        empresas como particulares depositan mucho esfuerzo, tanto económico
        como emocional, para conseguir emocionar a sus invitados. Y eso es algo
        que nos tomamos muy en serio <strong> Todo debe salir perfecto.</strong>
      </p>
      <p>
        Nuestra vocación por el trato humano con los clientes; nuestra capacidad
        para comprender sus necesidades y preocupaciones, además de la
        flexibilidad y recursos suficientes para poder adaptarnos a sus
        presupuestos
      </p>
      <p>
        Tu tranquilidad y éxito son nuestra prioridad. Confía en expertos que
        entienden tus necesidades.
        <strong>¿Listo para hacer de tu evento un éxito rotundo?</strong>
        Contáctanos ahora para solicitar un presupuesto sin compromiso.
      </p>
      <p>
        <strong>
          Y esa es la clave por la que nos hemos mantenido en el mercado durante
          los últimos 10 años y por lo que seguiremos los próximos: dar el mejor
          servicio posible, a un precio razonable y volcándonos al 100% en
          nuestros clientes y sus proyectos.
        </strong>
      </p>
    </div>
    <div class="image-content">
      <img src="assets/equipoMaxaudio2.jpg" alt="Equipo Maxaudio" />
    </div>
  </div>
</section>

<section class="brand-carousel">
  <div class="carousel-container">
    <div class="carousel-track">
      <div *ngFor="let image of images" class="carousel-item">
        <img [src]="image" alt="Logo de marca" />
      </div>
    </div>
  </div>
</section>




</section>