<app-header></app-header>
<router-outlet></router-outlet>
<!-- Botones flotantes -->
<!-- Botones flotantes -->
<div class="floating-buttons">
  <a href="mailto:maxaudio@hotmail.com" class="floating-button email-button" aria-label="Email">
    <i class="fas fa-envelope"></i> <!-- ícono de correo -->
  </a>
  <a href="https://wa.me/+34618371067?text=Buenas,%20me%20gustaría%20más%20información%20sobre..." target="_blank"
    class="floating-button whatsapp-button" aria-label="WhatsApp">
    <i class="fab fa-whatsapp"></i> <!-- ícono de WhatsApp -->
  </a>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<!-- Aquí es donde Angular renderizará las rutas -->
<app-footer></app-footer>