<section class="iluminacion-section">
    <div class="image-wrapper">
      <img src="assets/Escenario/9.JPG" alt="Iluminación" class="contact-img">
      <div class="overlay-text">
        <h1>Producción de Eventos</h1>
      </div>
    </div>
  
    <!-- Summermax Festival -->
    <div class="content-wrapper">
      <div class="text-content">
        <h2>SUMMERMAX</h2>
        <h3>Festival propio</h3>
        <p><strong>Summermax, nuestro festival de música en Navalmoral de la Mata, Extremadura, reúne a los mejores
            artistas y DJs de la escena musical. Con dos ediciones de éxito, este evento ofrece una experiencia única en
            sonido, iluminación y efectos visuales de primer nivel.</strong></p>
        <p>Summermax no solo es un festival, es una celebración. Trabajamos con equipos de última generación y un equipo
          humano que cuida cada detalle para asegurar que tanto los asistentes como los artistas disfruten de una
          experiencia inolvidable. La música, el ambiente y la energía de Summermax son una muestra de nuestra dedicación
          en producción de eventos.</p>
        <p><strong>¿Quieres ser parte de Summermax y vivir la experiencia? ¡No te lo pierdas! Contáctanos para saber
            más.</strong></p>
      </div>
      <div class="image-content">
        <img src="assets/festivalSumerMax.jpg" alt="Festival Summermax en Extremadura">
      </div>
    </div>
  
    <!-- Camión Escenario -->
    <div class="content-wrapper">
      <div class="image-content">
        <img src="assets/Eventos/4.jpg" alt="Camión Escenario Maxaudio">
      </div>
      <div class="text-content">
        <h2>Camión Escenario</h2>
        <h3>Tu Evento en Movimiento</h3>
        <p><strong>Maxaudio te ofrece un camión escenario totalmente equipado para llevar a cabo eventos en cualquier
            punto de España. Con un montaje rápido y versátil, nuestro camión escenario permite realizar conciertos,
            presentaciones y cualquier actividad al aire libre con total comodidad.</strong></p>
        <p>Este servicio es ideal para aquellos eventos en movimiento que requieren montaje ágil y tecnología avanzada en
          iluminación y sonido. Gracias a la adaptabilidad de nuestro camión escenario, transformamos cualquier espacio en
          un verdadero espectáculo.</p>
        <p><strong>Haz que tu evento destaque con nuestro camión escenario. ¡Contáctanos ahora para más detalles!</strong>
        </p>
      </div>
    </div>
  
    <!-- Gira de Orquestas -->
    <div class="content-wrapper">
      <div class="text-content">
        <h2>Gira de Orquestas</h2>
        <h3>Producción de calidad en toda España</h3>
        <p><strong>Maxaudio lleva la experiencia de la gira a un nivel superior. Con nuestro servicio de Gira de
            Orquestas, nos encargamos de cada detalle técnico para que tu orquesta viaje y actúe sin
            preocupaciones.</strong></p>
        <p>Desde la coordinación de sonido, iluminación hasta el transporte de equipos, Maxaudio garantiza una experiencia
          de calidad para orquestas en todos los rincones de España. Con nosotros, tus músicos pueden concentrarse en lo
          que mejor saben hacer mientras nosotros nos encargamos del resto.</p>
        <p><strong>Si buscas un socio confiable para la gira de tu orquesta, ¡Maxaudio es tu elección! Hablemos sobre cómo
            podemos colaborar.</strong></p>
      </div>
      <div class="image-content">
        <img src="assets/Recursos/orquesta.jpg" alt="Gira de Orquestas Maxaudio">
      </div>
    </div>
  
    <!-- Eventos Corporativos y Presentaciones de Producto -->
    <div class="content-wrapper">
      <div class="image-content">
        <img src="assets/Recursos/corporativo.jpg" alt="Evento Corporativo Maxaudio">
      </div>
      <div class="text-content">
        <h2>Eventos Corporativos</h2>
        <h3>Presentaciones de Producto y Eventos Empresariales</h3>
        <p><strong>Transforma tus eventos empresariales en experiencias profesionales e impactantes. En Maxaudio,
            entendemos la importancia de las presentaciones de producto, eventos corporativos y lanzamientos. Nos
            especializamos en crear ambientes que proyectan confianza, calidad y profesionalismo.</strong></p>
        <p>Nuestro equipo asegura que cada aspecto esté a la altura de la imagen de tu empresa, desde el montaje de
          escenario hasta el sonido y la iluminación. Personalizamos cada detalle para ajustarnos a las necesidades
          específicas de cada evento, adaptándonos a tu presupuesto sin sacrificar la calidad.</p>
        <p><strong>Confía en Maxaudio para elevar la imagen de tu empresa. Solicita un presupuesto sin compromiso y
            descubre cómo podemos ayudarte a brillar.</strong></p>
      </div>
  
    </div>
  </section>
  
  
  <!-- NUEVA SECCIÓN CON IMAGEN DE FONDO Y TEXTO SUPERPUESTO -->
  <section class="background-image-section">
    <div class="overlay-text-2">
      <h2>Maxaudio: Soluciones Audiovisuales</h2>
      <h3>Calidad, Confianza y Profesionalismo</h3>
      <p><strong>Comunicación visual y sonora que transforma cualquier evento en una experiencia inolvidable.</strong></p>
      <p>Maximizamos el impacto de tus eventos con equipos de última generación y profesionales capacitados.</p>
      <p>Contáctanos y lleva tu evento al siguiente nivel.</p>
    </div>
  </section>